.myCustomMinHeight35px_CSK_Module_MultiImageEdgeMatcher {
  min-height: 35px;
}

.myCustomMarginLeft30px_CSK_Module_MultiImageEdgeMatcher {
  margin-left: 30px;
}

.myCustomSpacerVert10_CSK_Module_MultiImageEdgeMatcher {
  min-height: 10px;
}

.myCustomSpacerVert20_CSK_Module_MultiImageEdgeMatcher {
  min-height: 20px;
}

.myCustomFrameLabel_CSK_Module_MultiImageEdgeMatcher {
  background: white;
  position:relative;
  top: calc(-1.2rem);
  left: calc(1rem);
  font-size: medium;
}

.myCustomMarginInline1Rem_CSK_Module_MultiImageEdgeMatcher {
  margin-inline: calc(1rem);
}

.myCustomMargin99Percent_CSK_Module_MultiImageEdgeMatcher {
  margin: calc(1rem);
  margin-top: 20px;
}

.myCustomMarginFirstRow_CSK_Module_MultiImageEdgeMatcher {
  margin-top: -49px;
}

.myCustomMarginLeft7PX_CSK_Module_MultiImageEdgeMatcher {
  margin-left: -7px;
}

.myCustomMarginLeft15PX_CSK_Module_MultiImageEdgeMatcher {
  margin-left: 15px;
}

.myCustomMarginLeft30PX_CSK_Module_MultiImageEdgeMatcher {
  margin-left:30px;
}

.myCustomMarginLeft-30PX_CSK_Module_MultiImageEdgeMatcher {
  margin-left:-30px;
}

.myCustomPersistentDataMargin_CSK_Module_MultiImageEdgeMatcher {
  margin-top: -53px;
  margin-left: 130px;
}

.myCustomPersistentDataMarginBack_CSK_Module_MultiImageEdgeMatcher {
  margin-left: -127px;
}

.myCustomBorderBottom_CSK_Module_MultiImageEdgeMatcher {
  border-bottom: 1px solid lightgray;
  margin-inline: calc(1rem);
}

.myCustomBorderLeft_CSK_Module_MultiImageEdgeMatcher {
  border-left: 1px solid lightgray;
}

.myCustomTabFrame_CSK_Module_MultiImageEdgeMatcher {
  width: 98%;
  align-self: center;  
}

.myCustomLabel_CSK_Module_MultiImageEdgeMatcher {
  font-size:30px;
  color: grey;
  margin-top: 10px;
}

.myCustomFrameNoColor_CSK_Module_MultiImageEdgeMatcher {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: 007CC1;
  background-color: #FFFFFF;
}

.myCustomFrame_CSK_Module_MultiImageEdgeMatcher {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #007CC1;
  background-color: white;
}

.myCustomFrameNoColor_CSK_Module_MultiImageEdgeMatcher {
  margin: 6px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
  border-color: 007CC1;
  background-color: white;
}

.myCustomMarginTop7PX_CSK_Module_MultiImageEdgeMatcher {
  margin-top: 7px;
}

.myCustomBackground_CSK_Module_MultiImageEdgeMatcher {
}

.myCustomButton_CSK_Module_MultiImageEdgeMatcher {
  border-radius: 30px;
  padding-right: 0px;
}