.myCustomFrame_CSK_Module_MultiImageEdgeMatcher {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  margin: 6px;
}

.myCustomMinHeight35px_CSK_Module_MultiImageEdgeMatcher {
  min-height: 35px;
}

.myCustomMarginLeft30px_CSK_Module_MultiImageEdgeMatcher {
  margin-left: 30px;
}